In [1]:
import pandas as pd

In [3]:
df_1=pd.read_csv("Book.csv")
df_2=pd.read_csv("Details.csv")

In [5]:
df_1.head()

,Title,Ratings,Price_in_euro,Book_link,Img_link,Availability
0,A Light in the Attic,Three,51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...,In stock
1,Tipping the Velvet,One,53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...,In stock
2,Soumission,One,50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...,In stock
3,Sharp Objects,Four,47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...,In stock
4,Sapiens: A Brief History of Humankind,Five,54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...,In stock

In [7]:
df_2.head()

,Category,UPC,Price_exlc_tax,Price_incl_tax,Tax,Quantity,Review
0,Poetry,a897fe39b1053632,51.77,51.77,0.0,In stock (22 available),0
1,Historical Fiction,90fa61229261140a,53.74,53.74,0.0,In stock (20 available),0
2,Fiction,6957f44c3847a760,50.10,50.10,0.0,In stock (20 available),0
3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.0,In stock (20 available),0
4,History,4165285e1663650f,54.23,54.23,0.0,In stock (20 available),0

### Combining unique column of tweo data set into one

#### Creating Empty dataset

In [10]:
df=pd.DataFrame()

#### Adding columns in dataset

In [16]:
df["Title"]          =df_1["Title"]
df["Category"]       =df_2["Category"]
df["UPC"]            =df_2["UPC"]
df["Ratings"]        =df_1["Ratings"]
df["Reviews"]        =df_2["Review"]
df["Availability"]   =df_1["Availability"]
df["Quantity"]       =df_2["Quantity"]

df["Price_exlc_tax"] =df_2["Price_exlc_tax"]
df["Price_incl_tax"] =df_2["Price_incl_tax"]
df["Tax"]            =df_2["Tax"]
df["Book_Link"]      =df_1["Book_link"]
df["Img_Link"]       =df_1["Img_link"]

### Converting dataset in CSV format

In [19]:
df.head()

,Title,Category,UPC,Ratings,Reviews,Availability,Quantity,Price_exlc_tax,Price_incl_tax,Tax,Book_Link,Img_Link
0,A Light in the Attic,Poetry,a897fe39b1053632,Three,0,In stock,In stock (22 available),51.77,51.77,0.0,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Historical Fiction,90fa61229261140a,One,0,In stock,In stock (20 available),53.74,53.74,0.0,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Fiction,6957f44c3847a760,One,0,In stock,In stock (20 available),50.10,50.10,0.0,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Mystery,e00eb4fd7b871a48,Four,0,In stock,In stock (20 available),47.82,47.82,0.0,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,History,4165285e1663650f,Five,0,In stock,In stock (20 available),54.23,54.23,0.0,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [21]:
df.to_csv("Books_detail.csv",index=False)